.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

article#documenter-page.content{
    min-height: 66vh;    
}

/* Smooth hide and show top menu nav */
#multi-page-nav.show-top-menu {
    transform: translateY(0);
}

#multi-page-nav.hide-top-menu {
    transform: translateY(-100%);
}

.smooth-show-hide {
    transition: 0.3s all ease-in-out !important;
}

.docs-sidebar, .docs-sidebar.show-top-menu {
    padding-top: calc(var(--navbar-height) + 1rem) !important;
}

.docs-sidebar.hide-top-menu {
    padding-top: 0 !important;
}

.docs-main {
    padding-top: calc(var(--navbar-height)) !important;
}