@import "common.css";
@import "multidoc.css";

/*! do not display global search bar from MultiDocumenter in the nav menu */
#multi-page-nav .search {
    display: none!important;
}

#multi-page-nav {
    background-color: #007fa2 !important;
    border-bottom: none !important;
}

nav.docs-sidebar {
    z-index: 1;
}

/* Sticky footer */
* {
    margin: 0;
}

html, body {
    height: 100%;
}

#documenter {
    min-height: 100%;
    margin-bottom: -55px; /* equal to footer height */
}

#documenter:after {
    content: "";
    display: block;
}

.ct-footer, #documenter:after {
    height: 55px; 
}
