---
---

@import "{{ site.theme }}";

.container {
    padding-top: 40px;
}

@media screen and (max-width:450px){

    .container{
        max-width:100%!important;
        padding-left:5%;
        padding-right:5%;
        text-align:justify;
    }
    
}
