---
---

@import "{{ site.theme }}";

/*! Add a small amount of padding above global container */
.container {
    padding-top: 40px;
}

/*! Logos of partners */
.markdown-body img#partner {
    height: 80px;
}

/*! navigation menu */
#multi-page-nav .nav-item {
    padding: 0 0.75rem!important;
    line-height: var(--navbar-height)!important;
}

a:hover {
    text-decoration: none;
}

.markdown-body img {
    max-width: 100%;
    box-sizing: content-box;
    background-color: #fff;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}

@media screen and (max-width:450px){

    .container{
        max-width:100%!important;
        padding-left:5%;
        padding-right:5%;
        text-align:justify;
    }
    
}

.markdown-body pre code,.markdown-body pre tt {
    display: contents !important;
}
